
@{
    ViewBag.Title = "Index";
}

<h2>Admin Page</h2>

@Html.ActionLink("View All Categories", "ViewAllCategories", "Admin", new { @class = "btn btn-success btn-lg" })
@Html.ActionLink("View All Users", "ViewUsers", "Admin", new { @class = "btn btn-success btn-lg" })
@Html.ActionLink("View All Posts", "ViewAllPosts", "Admin", new { @class = "btn btn-success btn-lg" })

